.mainWrapper {
  position: relative;
  height: 30vh;
  width: 80vw;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
}
.tabContainer {
  display: flex;
  justify-content: space-between;
}
.tabs {
  display: none;
}
.tabs.active {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
}
.boxText {
  z-index: 99;
  color: white;
  padding: 20px;
}
.box {
  height: 10vh;
  width: 50vw;
  border-radius: 15px;
  background-color: black;
}
